.main{
	display: none;
	// display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	position: relative;
	z-index: 10;
	height: 100vh;

	.title{
		grid-column: 1/-1;
		justify-self: center;
		grid-row: 1;
	}
	.rainBackground{
		grid-column: 1/-1;
		grid-row: 1/4;
	}
	.highTemp{
		grid-column: 9/13;
		grid-row: 2;
	}
	.today{
		grid-column: 1/-1;
		grid-row: 3;
	}
	button{
		grid-column: 6/8;
		grid-row: 12;
		position: relative;
		z-index: 10;
	}
	.curTemp{
		grid-column: 5/9;
		grid-row: 2;
	}
	.realFeel{
		grid-column: 6/8;
		grid-row: 5;
	}
	.prec{
		grid-column: 8/10;
		grid-row: 5;
	}
	.lowTemp{
		grid-column: 1/5;
		grid-row: 2;
	}
	.sunR{
		grid-column: 2/4;
		grid-row: 5;
	}
	.sunS{
		grid-column: 10/12;
		grid-row: 5;
	}
	// .chanSnow{
	// 	grid-column: 3/6;
	// 	grid-row: 5;
	// }
	.humi{
		grid-column: 4/6;
		grid-row: 5;
	}
	.sum{
		grid-column: 1/-1;
		grid-row: 4;
	}
	.sevenday{
		grid-column: 1/-1;
		grid-row: 7;
	}
	.highTempOne{
		grid-column: 9/13;
		grid-row: 3;
	}
	.sunRtime{
		grid-column: 2/4;
		grid-row: 6;
	}

}
.grid{
	display: grid;
}
