// /* Small only */
//  @media screen and (max-width: 39.9375em) {}

// /* Medium and up */
// @media screen and (min-width: 40em) {}

// /* Medium only */
// @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

// /* Large and up */
// @media screen and (min-width: 64em) {}

// /* Large only */
// @media screen and (min-width: 64em) and (max-width: 74.9375em) {}




@media screen and (max-width: 39.9375em) {
	.main{
		display: none;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(12, 1fr);
		height: 100vh;
		.title{
		grid-column: 1/-1;
		justify-self: center;
		grid-row: 1;
	}
	
	:nth-child(2){
		grid-column: 1/-1;
		grid-row: 2/4;
	}
	:nth-child(3){
		grid-column: 1/-1;
		grid-row: 5;
	}
	:nth-child(4){
		grid-column: 1/-1;
		grid-row: 6;
	}
	:nth-child(5){
		grid-column: 1/-1;
		grid-row: 7;
	}
	:nth-child(6){
		grid-column: 1/-1;
		grid-row: 8;
	}
	:nth-child(7){
		grid-column: 1/-1;
		grid-row: 9;
	}
	:nth-child(8){
		grid-column: 1/-1;
		grid-row: 10;
	}
	:nth-child(9){
		grid-column: 1/-1;
		grid-row: 11;
	}
	}

}