.title{
	font-family: $font-1;
	color: white;
	font-size: 3rem;
	text-align: center;
	font-variation-settings: 'wght' 100;
}
h2{
	font-family: $font-1;
	color: white;
	font-size: 2rem;
	text-align: center;
	font-variation-settings: 'wght' 1000;
	margin: 3vh 0;
}

.opening{
	font-family: $font-1;
	color: white;
	font-size: 26vw;
	text-align: center;
	font-variation-settings: 'wght' 900;
	margin: 0;
}

.button{
	font-family: $font-1;
	color: white;
	background-color: transparent;
	padding: 20px 40px;
	border-radius: 25px

}
img{
	width: 300px;
	height: auto;
	filter:invert(100%);
}