.title, .opening{
	font-family: $font-1;
	color: white;
	font-size: 3rem;
	text-align: center;
	font-variation-settings: 'wght' 100;
}
h2{
	font-family: $font-1;
	color: white;
	font-size: 2rem;
	text-align: center;
	font-variation-settings: 'wght' 1000;
}
