$font-1: Montserrat;
$color-1: #33658A;
$color-2: #F6AE2D;
$color-3: #F26419;
$color-4: #55DDE0;
$color-5: #2F4858;



@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-VF.ttf')
}